* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: darkblue;
  font-size: 2rem;
}
.timetable {
  border-collapse: collapse;
  min-width: 600;
  margin-left: auto;
  margin-right: auto;
  border: 2px black solid;
}

.timetable thead tr {
  background-color: darkblue;
  color: yellow;
  font-weight: bold;
  border-top: 4px solid red;
}

.timetable th,
.timetable td {
  padding: 12px 15px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}

.timetable th:first-of-type,
.timetable td:first-of-type {
  border-left: 4px solid red;
}

.timetable th:last-of-type,
.timetable td:last-of-type {
  border-right: 4px solid red;
}

.timetable tbody tr:last-of-type {
  border-bottom: 4px solid red;
}

/* .timetable tbody tr:nth-of-type(even) {
  background-color: lightgray;
} */

.work {
  background-color: orange;
}

.lesson {
  background-color: lightblue;
}

.food {
  background-color: lightgreen;
}

.time {
  background-color: darkblue;
  color: yellow;
}

.fulltime {
  background-color: yellow;
}

.hobby {
  background-color: lightsalmon;
}


.navbar {
  background-color: blue;
  height: 15vh;
  width: 100vw;
  text-align: right;
  word-spacing: 20px;
  padding: auto;
  text-decoration: none;
  font-size: 2em;
  color: black;
}

h1 {
  text-align: center;
}

#intro
{
  height = 85vh;
  width: 100vw;
  background-color: red
}

#about
{
  height = 100vh;
  width: 100vw;
  background-color: yellow
}

#projects
{
  height = 100vh;
  width: 100vw;
  background-color: lightgreen
}

#contact
{
  height = 100vh;
  width: 100vw;
  background-color: lightblue
}